*{
    padding: 0%;
    margin: 0%;
}
body{
    width: 100%;
}
.image{
    height: 250px;
    width: 250px;
}
.group img {


}.group img{
    width: 40px;

}.ms5{
    margin-left: 11rem !important;
  }